input
errorlogs
replays
exp/*/lux
exp/*/main.py
exp/*/wandb
handyrl
tmp
notebook/
exp/*/luxai2021
exp/*/tensorboard
exp/*/logs
exp/*/models
exp/*/*models
.vscode
exp/*/__pycache__/
agents/*/__pycache__/
exp/*/results.log
agents/rulebased
exp/*/trajectory/
sub_test*
*.pickle
*.npy
exp/*/onnxruntime
exp/*/stable_baselines3
exp/*/*.pth
exp/*/*.tar.gz
exp/*/*.onnx